@import url('https://fonts.googleapis.com/css?family=Dosis|Titillium+Web');


body{
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
	background: url(../img/fundo.png);
}

#login{
	display: none;
}

h1,h2,h3{
	font-family: 'Titillium Web', sans-serif;
}

header{
    background:#132129;
}
.site{
	max-width: 1200px;/*Largura maxima do conteúdo do site*/
	width: 100%;
	margin: 0 auto;
}
.topo h1{
    background: url(../img/logo-kibeleza.svg) no-repeat;
    width: 300px;
    height: 90px;
    text-indent: -9999px;
}
.topo{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.topo nav ul{
	display: flex;
	justify-content:space-between;
}
.topo nav ul li{
	display: block;
	padding: 26px 30px;
	margin: 0 15px;
}
.topo nav ul li:hover{
	background:rgba(159,135,187,0.50);
}
.topo nav ul li a{
	font-size: 18px;
	text-decoration: none;
	color: #FFFFFF;
}

/* MENU FIXO */
.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 9999;
	
	width: 100%;
	background: rgba(38,38,38,0.8);
	
	animation: fadeIn 1s ease-in-out;
}


/* MENU FIXO */



.icon{
	display: flex;
	margin-bottom: 10px;
	padding: 20px;
	align-items: baseline;
}
.iconHome{
	background:url(../img/icon/home.svg) no-repeat center;
}
.iconSobre{
	background:url(../img/icon/sobre.svg) no-repeat center;
}
.iconServico{
	background:url(../img/icon/servico.svg) no-repeat center;
}
.iconBlog{
	background:url(../img/icon/blog.svg) no-repeat center;
}
.iconContato{
	background:url(../img/icon/email.svg) no-repeat center;
}
.banner img{
	width: 100%;
}
.sobre{
	margin: 2% 0;
}
.sobre div{
	display: flex;
	justify-content: space-around;
}
.sobre div article{
	width: 40%;
}
.sobre div article:nth-child(1){
	margin-left: 12%;
}
.sobre h2{
	font-size: 36px;
	font-weight: bold;
}
.sobre p{
	font-size: 16px;
	text-align: justify;
	border: solid 4px #000000;
	padding: 5% 20% 5% 5%;
	line-height: 25px;
}
.sobre div article img{
	width: 100%;
    position: relative;
    margin-left: -140px;
    margin-top: 80px;
}
.servico{
	background:rgba(159,135,187,0.70);
	padding: 40px;
	text-align: center;
}

.servico h2{
	background: #9F87BB;
	padding: 10px;
	width: 100px;
	margin: 0 auto;
	border-radius: 5px 5px 0px 0px;
	color:white;
	font-weight: bold;
}
.servico hr{
	height: 3px;
    background: rgba(239,239,239,1.00);
    position: relative;
    margin-top: -3px;
    border: none;
}
.servicoUm{
	display: flex;
	justify-content: space-between;
}
.servicoUm article{
	width: 23%;
	background: #FFFFFF;
	padding: 3px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #333;
}
.servicoUm article img{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.servicoUm article h3{
	color: #9F87BB;
	padding: 3% 0;
}
.servicoUm article p{
	text-align: justify;
	padding-bottom: 20px;
	font-size: 12px;
}
.servicoUm article a{
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	line-height:28px;
	text-decoration:none;
	background: #9F87BB;
	color: #FFFFFF;
	border-radius: 5px;
}
.servicoUm article a:hover{
	background: #CCC;
	color: #9F87BB;
}
.equipe{
	padding: 2% 0;
	text-align: center;
}

.equipe h2{
	background: #9F87BB;
	width: 120px;
	margin: 0 auto;
	padding: 1%;
	line-height: 20px;
	border-radius: 5px 5px 0 0;
	color: #F8F8F8;
	font-weight: bold;
}
.equipe hr{
	height: 3px;
	background:#9F87BB;
	border: none; /*Tirar a borda*/
	position: relative;
	margin-top: -2px;
}

.equipeUm{
	display: flex;
	justify-content: space-around;
	margin: 1.5% 0;
}
.equipeUm article{
	width: 15%;
}

.equipeUm img{
	border-radius: 50%;
	width: 50%;
}

.equipeUm h3{
	color: #9F87BB;
	padding-top: 10px;
	font-weight: bold;
	font-size: 16px;
}
.equipeUm h4{
	color: #333;
	font-size: 14px;
}
.depoimento{
	background:rgba(159,135,187,.7);
	padding: 2% 0;
	text-align: center;
}
.depoimento article{
	background: #F8F8F8;
	padding: 50px 100px;
	border-radius: 5px;
	border-top: solid 40px #333;
}
.depoimento p{
	color: #9F87BB;
	font-size: 20px;
	line-height: 40px;
}
.depoimento h2{
	color: #9F87BB;
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	padding: 50px 0 20px 0;
}

.blog{
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
}
.blog div{
	width: 23%;
}
.blog div img{
	width: 100%;
	border-radius: 4%;
}
.blog div h2{
	color: #9F87BB;
	font-size: 1.5em;
	padding-top: 1.5%;
	padding-bottom: 5%;
}
.blog div p{
	text-align: justify;
	font-size: 1em;
}
.blog div a:nth-last-child(1){
	text-decoration: none;
	color: #9F87BB;
	margin-top: 15%;
    display: block;
	font-size: 1em;
	float: right;
	background: #262626;
	border: solid thin #909090;
	padding: 2%;
	
}
.blog div a:nth-last-child(1):hover{
	color: #262626;
	background: #9F87BB;
}




.galeria{
	padding: 2% 0;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.galeria img{
	margin: 0 4px;
}
.rodape{
	background: #262626;
	border-top: solid 7px #9F87BB;
	padding: 2% 0;
	text-align: center;
}
.rodape img{
	width: 25%;
}
.rodape p{
	color: #909090;
	padding: 2% 0;
	font-size: 12px;
}
.facebook {
	background-image: url(../img/icon/face.svg);
}
.twitter {
	background-image: url(../img/icon/twitter.svg);
}
.instagran {
	background-image: url(../img/icon/instan.svg);
}
.icones-redes-sociais li {
	display:inline-block;
}
.icones-redes-sociais a {
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -99999px;
}
.direitos{
	background: #000000;
	color: #909090;
	padding: 1% 0;
	text-align: center;
}


/* PÁGINA CONTATO */

.contato{
	display: flex;
	justify-content: space-between;
	
}
.contato article{
	width: 45%;
	margin: 2% 0;
}
.contato h2{
	font-size: 1.5em;
	color: #262626;
	font-weight: bold;
}
.form{padding: 2%;}

.form input[type=text],
.form input[type=tel],
.form input[type=email],
.form textarea{
	background: #9f87bb;
    border: solid thin #333;
    width: 100%;
    padding: 1%;
    color: #fff;
	margin-bottom: 2%;
    border-radius: 5px;
}
.form textarea{resize: none;}

.form input[type=submit]{
	float: right;
	margin-right: -13px;
    border-radius: 5px;
	background: #262626;
	color: #F8F8F8;
	border: solid .5px #909090;
	padding: 2% 8%;
	cursor: pointer;
	font-size: 0.8em;
}
.form input[type=submit]:hover{
	background: #F8F8F8;
	color: #262626;
	border: solid .5px #262626;
}

.contato ul li{
	margin-bottom: 2%;
	margin-top: 2%;
}

/* FIM PÁGINA CONTATO */

@media (max-width:768px){
	
    .sobre div{
		flex-direction: column;
		align-items: center;
	}
	.sobre div article{
		width:95%;
	}
	.sobre div article:nth-child(1){
		margin-left: 0;
	}
	.sobre h2{
		font-size: 1.2em;
	}
	.sobre p{
		font-size: 0.8em;
		padding: 2%;
	}
	.sobre div article img{
		width: 100%;
		margin-left: 0px;
		margin-top: 20px;
	}
    
}/* FIM max-width:768px */

@media not all and (max-width:480px){
	
	.abrir-menu,
	.fechar-menu{
		display: none;
	}
	
}


@media (max-width:480px){
	
	body{
		font-size: 16px;
	}

	.topo{
		flex-direction: row;
	}
	.topo nav{
		height: 100%;
		background: rgba(38,38,38,.8);
		max-width: 320px;
		width: 50%;
		
		position: fixed;
		z-index: 9999;
		top: 0;
		
		right: -260px;
		
		transition: right 0.5s ease-out;
	}
	
	.menu-ativo
	.topo nav{
		right: 0px;
	}
		
	.topo nav ul{
		flex-direction: column;
		align-items: center;
	}
	
	.abrir-menu{
		background: url(../img/menu.svg);
		padding: 20px;
		display: block;
		border: 0;
	}
	.fechar-menu{
		background: url(../img/fechar.svg);
		padding: 20px;
		display: block;
		border: 0;
	}
	
	
	
	
	
	
	.banner{
		display: none;
	}
	
}/* FIM max-width:480px */

